In [5]:
# Basic - a = { }
a = {"cdac", 56, False, 45.8, 90}
print("sets = ", a)
print(type(a))

sets =  {False, 'cdac', 56, 90, 45.8}
<class 'set'>

In [6]:
# Basic process 2
a = set(("cdac", 56, False, 45.8,90))
print("sets = ", a)
print(type(a))

sets =  {False, 'cdac', 45.8, 56, 90}
<class 'set'>

In [7]:
# Do not allow duplicate values
a = {"cdac", 56, False, 45.8, "cdac", 56}
print("sets = ", a)

sets =  {56, False, 45.8, 'cdac'}

In [8]:
# length using len()
a = {"cdac", 56, False, 45.8, "cdac", 56}
print("sets = ", len(a))

sets =  4

In [11]:
# length using len()
a = {"cdac", 56, False, 45.8, "cdac", 56}
print(a)

{56, False, 45.8, 'cdac'}

In [15]:
# Add item - setname.add(value)
a = {"cdac", 56, False, 45.8}
a.add("kol")
print("sets = ", a)

sets =  {False, 'cdac', 45.8, 'kol', 56}

In [16]:
# Add set1 and set2 and result stored set1 - using update()
#  currentset.update(newset)
a = {"cdac", 56, False, 45.8}
b= {45,"kolkata"}
a.update(b)
print("sets = ", a)

sets =  {False, 45, 'kolkata', 'cdac', 56, 45.8}

In [18]:
# Add set1 and set2 and result stored set1 - using update()
#  currentset.update(newset)
a = {"cdac", 56, False, 45.8}
b= {45,"kolkata"}
b.update(a)
print("sets = ", a)

sets =  {56, False, 45.8, 'cdac'}

In [22]:
# union() method that returns a new set containing all items from both sets
a = {"cdac", 56, False, 45.8}
b= {45,"kolkata" , 56}
c = a.union(b)  #
d = b.union(a)
print("sets = ", d)

sets =  {False, 45.8, 'kolkata', 'cdac', 56, 45}

In [25]:
# To remove an item in a set, use the remove(), or the discard() method.
a = {"cdac", 56, False, 45.8}
print(a)
a.remove(56)
print("sets = ", a)

{56, False, 45.8, 'cdac'}
sets =  {False, 45.8, 'cdac'}

In [26]:
# To remove an item in a set, use the remove(), or the discard() method.
a = {"cdac", 56, False, 45.8}
a.discard(False)
print("sets = ", a)

sets =  {56, 45.8, 'cdac'}

In [30]:
# pop()
a = {"cdac", 56, False, 45.8}
print(a)
a.pop()
print("sets = ", a)

{56, False, 45.8, 'cdac'}
sets =  {False, 45.8, 'cdac'}

In [31]:
# clear()
a = {"cdac", 56, False, 45.8}
a.clear()
print("sets = ", a)

sets =  set()

In [36]:
# del()
a = {"cdac", 56, False, 45.8}
del a
print("sets = ", a)

NameError: name 'a' is not defined

In [38]:
# The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple", 'cherry'}

z = x.symmetric_difference(y)

print(z)

{'banana', 'microsoft', 'google'}

In [41]:
# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

y.symmetric_difference_update(x)

print(y)

{'cherry', 'banana', 'microsoft', 'google'}

In [43]:
# The intersection() method will return a new set, that only contains the items that are present in both sets.

x = {"apple", "banana", "cherry", 'google'}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple', 'google'}

In [44]:
# The intersection_update() method will keep only the items that are present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [46]:
# Return a set that contains the items that only exist in set x, and not in set y
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x)

print(z)

{'microsoft', 'google'}

In [49]:
# Remove the items that exist in both sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

y.difference_update(x)

print(y)

{'microsoft', 'google'}

In [ ]:
#